.navbar{
    width: 100%;
    height: 50px;
}

.navbarWrapper{
    height: 100%;
    padding: 0, 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bolder;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}
.navbarIconContainer{
    position: relative;
}
.navbarIconBadge{
    position: absolute;
    top: -5px;
    right: 5px;
    background-color: red;
    
}