.featured{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featuredItem{
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.featuredTitle{
    font-size: 20px;
}

.featuredMoneyWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}

.featuredMoney{
    font-size: 25px;
    font-weight: bold;
}

.featuredMoneyRate{
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.featuredIcon{
    margin-left: 5px;
    color: green;
    font-size: 14px;
}

.featuredIcon.negative{
    color:red;

}

.featuredSub{
    font-size: 15px;
    color: gray;
    margin-left: 270px;
}